@use '../../../styles/vars' as v;
@use '../../../styles/mixins' as m;

.link {
  position: relative;
  width: 100%;
&__form {
  margin: 0 12%;
  height: 135px;
  padding: 40px 0;
  background: v.$color-dark-violet url('../../../assets/images/bg-shorten-desktop.svg') no-repeat top right / cover ;
  border-radius: 10px;
  @include m.breakpoint(tablet) {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    background: v.$color-dark-violet url('../../../assets/images/bg-shorten-mobile.svg') no-repeat top right/ contain;
  }
  &::after {
    display: block;
    content: "";
    background: #EEF1F6;
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 150px;
  }
  &--input {
    margin-left: 65px;
    padding-left: 30px;
    width: 70%;
    height: 55px;
    color: v.$color-very-dark-violet;
    font-size: v.$text-font-size;
    border: none;
    border-radius: 8px;
    &::placeholder {
      font-size: v.$text-font-size;
      color: v.$color-gray;
      @include m.breakpoint(tablet) {
        font-size: 14px;
      }
    }
    @include m.breakpoint(tablet) {
      width: 80%;
      margin: 0 auto;
      padding-left: 15px;
      height: 40px;
      font-size: 14px;
      border-radius: 3px;
    }
  }
  & button {
    margin-left: 30px;
    background: v.$color-cyan;
    font-size: 18px;
    color: white;
    font-weight: v.$text-font-weight;
    border: none;
    width: 180px;
    height: 55px;
    border-radius: 8px;
    &:hover {
      background: #9BE3E2;
    }
    @include m.breakpoint(tablet) {
      width: 80%;
      margin: 20px auto 0;
      height: 40px;
      border-radius: 3px;
    }
  }
 }
}
