@use '../../styles/vars' as v;
@use '../../styles/mixins' as m;

.features {
  background: #EEF1F6;
  text-align: center;
  padding: 8% 12% 7%;
  @include m.breakpoint(tablet) {
    padding: 17% 6% 15%;
  }
  @include m.breakpoint(mobile) {
    padding: 23% 6% 22%;
  }
  &__title {
    font-weight: v.$title-font-weight;
    font-size: 40px;
    color: v.$color-very-dark-violet;
    margin-bottom: 25px;
    @include m.breakpoint(mobile) {
      font-size: 26px;
    }
  }
  &__text{
    color: #9E99A8;
    font-size: 20px;
    font-weight: v.$text-font-weight;
    line-height: 30px;
    width: 50%;
    margin: 0 auto;
    @include m.breakpoint(tablet) {
      width: 80%;
      margin: 0 auto;
    }
    @include m.breakpoint(mobile) {
      width: 100%;
      text-align: center;
      font-size: 16px;
      line-height: 28px;
    }
  }
}